html, body {
    height: 100%; /* Ensures the body takes full height of the viewport */
    margin: 0;
    padding: 0;
    background-color: black; /* or any other color you prefer */
}

section {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box; /* Includes padding in height calculation */
    min-height: calc(100vh - 120px); /* 100vh is full viewport height, adjust 120px depending on your footer and header height */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px; /* Specify footer height if not already defined */
}

h1 {
    margin: 0;
}

.description {
    color: white;
    background-color: #333;
    font-family: monospace;
    font-size: 60px; /* Adjust this value to increase or decrease the text size */
}

.half-page-image {
    background-color: #333;
    text-align: center;
    overflow: hidden;
    width: 100%; /* Adjusted to full width if needed */
    height: 50vh; /* Example for half-page height */
    position: relative;
    z-index: 0;
}

.full-width {
    height: 100%;
    width: 100%;
    transition: transform 0.5s ease;
    animation: continuousRotate 20s linear infinite; /* Slower rotation over 20 seconds */
  }
  
  @keyframes continuousRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
