<!--HOMEPAGE COMPONENT-->
<div class="half-page-image">
    <img src="images/white.svg" class="full-width" height="100%" width="100%">
</div>
<section>
    <p class= "description">
        Learn how a computer programming language works with fugue!
    </p>
    <div class="image1">
        <img class="img" src="../../images/pic1.jpg" alt="pic1">
    </div>
    <div class="image2">
        <img class="img" src="../../images/pic2.jpg" alt="pic2">
    </div>
    <div class="image3">
        <img class="img" src="../../images/pic3.jpg" alt="pic3">
    </div>

    <br />
    <div class="description">
        <h2>What's possible with fugue?</h2>
        <p>Learn how computer systems operating</p>
        <p>Learn how memory is managed</p>
        <p>Learn how command line is used</p>
        <p>Learn how to use a debugger</p>
    </div>
</section>
<footer>
    <p>© Fugue. All rights reserved.</p>
</footer>
