h1 {
    margin: 0;
}

section {
    background-color:#333;
    padding: 20px;
    padding-top:250px;
    text-align: center;
    height:100%;
    padding-bottom: 550px; /* Add bottom padding */
}
.description{
    color:white;
    background-color:#333;
    font-family: monospace
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.half-page-image {
    background-color: #333;
    text-align: center;
    overflow: hidden;
    position: relative; /* Ensure relative positioning for the half-page image */
    z-index: 0; /* Set a lower z-index to appear behind the header */
    width: 50%; /* Set width to cover the left half of the page */
    float: left; /* Float left to allow other content to flow around it */
    overflow: hidden;
}
.full-width {
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease; /* Smooth transition for rotation */
}

/* Keyframes for rotation */
@keyframes continuousRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.half-page-image:hover .full-width {
    /* Apply the continuous rotation animation */
    animation: continuousRotate .5s linear infinite;
}
html{
    background-color:black;
}

