<div class="body">
    <div id="editor-container">
      <div id="editor">
        <h2 id="text-editor-name">Text Editor</h2>
        <textarea #editor (keydown)="onKeydownTab($event)" (input)="updateSource()" class="editor"></textarea>
        <div>
          <button (click)="run()" id="run-button">Run</button>
          <button (click)="resetTextEditor()" id="reset-button">Reset</button>
          <!--For testing purpose only-->
          <button (click)="runJava()" id="java-button">FOR TESTING ONLY: Run Java</button>
        </div>
      </div>
      <div id="console-debugger">
        <div id="console" (click)="toggleConsole()">
          <h2>Console</h2>
          <div id="content">
            <p id="console-content" [innerHTML]="consoleContent" placeholder="Console Output"></p>
          </div>
          <div class="horizontal-container">
            <p id="username">reckless:</p>
            <p id="commandline-content"><input id="commandline" type="text" placeholder="" (keydown.enter)="onKeydown($event)"></p>
          </div>
        </div>
        <div id="debugger" class="tabs-container">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'debugger-output'" (click)="switchTab('debugger-output')">Output</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'debugger-log'" (click)="switchTab('debugger-log')">Log</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'tab2-content'" (click)="switchTab('tab2-content')">Tab 2</a>
            </li>
            <!-- Add similar links for the remaining tabs -->
          </ul>
          <div class="tab-content">
            <div id="debugger-output"  class="tab-pane fade show active">
              <h2>Debugger Output</h2>
              <p id="debugger-content" [innerHTML]="debuggerContent" placeholder="Debugger Output"></p>
            </div>
            <div id="debugger-log"  class="tab-pane fade show active">
              <h2>Debugger Log</h2>
              <p id="debugger-content" [innerHTML]="debuggerContent" placeholder="Debugger Output"></p>
            </div>
            <div id="tab2-content"  class="tab-pane fade show active">
              <h2>Tab 2 Content</h2>
              <!-- Content for Tab 2 -->
            </div>
            <div id="tab3-content" *ngIf="activeTab === 'tab3-content'" class="tab-pane fade show active">
              <h2>Tab 3 Content</h2>
              <!-- Content for Tab 3 -->
            </div>
            <div id="tab4-content" *ngIf="activeTab === 'tab4-content'" class="tab-pane fade show active">
              <h2>Tab 4 Content</h2>
              <!-- Content for Tab 4 -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p>© Fugue. All rights reserved.</p>
    </footer>
  </div>