<ng-container *ngIf="!isLogin">
  <header>
    <div class="inner-header"></div>
    <img
      [src]="'images/fugue-high-resolution-logo-white-transparent.png'"
      height="15%"
      width="15%"
      alt="Fugue High Resolution Logo"
    />
    <div class="header-text">
      <span class="word"
        ><a
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Home</a
        ></span
      >
      <span class="word"
        ><a
          routerLink="/editor"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Text Editor</a
        ></span
      >
      <span class="word"><a routerLink="/login">Signup/Login</a></span>
      <span class="word"
        ><a routerLink="/tutorials">Tutorials</a
          ></span>
    </div>
      <div class="wrapper">
  <button (click)="toggleSidebar()">Toggle Sidebar</button>
  <tutorials [isOpen]="isOpen"></tutorials>
  <!-- Main content goes here -->
</div>
  </header>
</ng-container>
<router-outlet></router-outlet>
