/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: red;
}

header {
    background-color: red;
    padding: 20px;
    text-align: left; /* Align text to the left */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Add relative positioning to the header */
}
inner-header {
    position: absolute;
    width: 400px;
    height: 400px;
}

h1 {
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

.header-text {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.word {
    color: white;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    margin-right: 50px;
}

.word:hover {
    background-color: darkred;
    position: relative; /* Add relative positioning to the word */
    z-index: 1; /* Bring the word to the front to cover the space */
}

